.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f9af47;
  border-radius: 20px;
  margin: 10px 80px;
  padding: 10px 0px;
}

.cart-product img {
  width: 20%;
  border-radius: 30px;
  padding: 0px 5px;
}
.text {
  margin: 0px 20px;
}


@media screen and (max-width: 767px) {
  .text h3 {
    font-size: 15px;
  }
  .cart-product {
    margin: 10px 5px;
  }
  .main-start {
    margin-bottom: 10px;
  }
}
